*{
    padding: 0;
    margin: 0;
}
.section-1{
    background: url("../Screenshot\ 2022-05-25\ 091109.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.section-1 h1{
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.76);
    color: aliceblue;
    /* font-size: 100px; */
}
.section-2{
    background-color: rgba(255, 255, 255, 0.781);
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.section-2 h1{
    text-align: center;
    /* padding: 12px; */
    color: rgb(0, 0, 0);
    margin: 12px;

}
.section-2 p{
    text-align: justify;
    /* padding: 12px; */
    color: black;
    /* letter-spacing: 20px; */
    font-size: 18px;
    margin-left: 24px;
    margin-right: 24px;

}
.section-3{
    background-image: url(Screenshot\ 2022-05-25\ 091001.png) ;
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover ;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.section-3 h1{
    color: white;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.76); 
}
.section-4{
    padding: 12px;
    height: 100px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.section-4 p {
    color: white;
    font-size: 18px;
    margin-left: 24px;
    text-align:justify;
}
.section-5 {
    height: 500px;
    background: url(Screenshot\ 2022-05-25\ 091018.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.section-5 h1{
    color: white;

}

.section-6{
    padding: 12px;
    height: 100px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.section-6 p {
    color: white;
    font-size: 18px;
    margin-left: 24px;
    text-align:justify;
}
.section-7{
    height: 500px;
    background: url(Screenshot\ 2022-05-25\ 091043.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.section-7 h1{
    color: white;
    margin: 24px;

}